a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

.tt_cell {
	width: 120px;
	height: 50px;
	text-align: center;
	border: 1px solid #999;
}

#timetable {
	
}

#timetable td {
	text-align: center;
	border: 1px solid #999;
}

#timetable th {
	background-color: darkblue;
	color: white;
	font-weight: normal;
}

#timetable div {
	font-size: 75%;
}

#timetable .subject {
	font-size: 100%;
	font-weight: bold;
}

body {

}

#page {
	margin: auto;
	max-width: 950px;
}

#header {
	padding: 5px;
}

#center {
	padding: 5px;
	border: 1px solid #999;
}

#center table {
	margin: auto;
}

#footer {
	padding: 5px;
}

#navcontainer
{
margin: 0 auto;
padding: 1em 0 0 0;
}

/* to stretch the container div to contain floated list */
#navcontainer:after
{
content: ".";
display: block;
line-height: 1px;
font-size: 1px;
clear: both;
}

ul#navlist
{
list-style: none;
padding: 0;
margin: 0 auto;
width: 100%;
}

ul#navlist li
{
display: block;
float: left;
width: 100px;
margin: 5px;
padding: 0;
}

ul#navlist li a
{
display: block;
width: 100%;
padding: 0.5em;
border-width: 1px;
border-color: #999;
border-style: solid;
color: #333;
text-decoration: none;
background: #EEE;
}

#navcontainer>ul#navlist li a { width: auto; }

ul#navlist li#active a
{
background: #f0e7d7;
color: #800000;
}

ul#navlist li a:hover, ul#navlist li#active a:hover
{
color: #CCC;
background: #333;
}