<table>
	<tr>
		<% ('A'..'Z').to_a.each_with_index do |char,i| %>
			<%= raw('<td style="vertical-align:top; width:60px; text-align:center;">') if i % 2 == 0 %> 
				<span style="line-height:10px;"><b><%= char %></b></span>
				<table>
				<% @teachers.select{|t| t.short[0] == char}.each do |teacher| %>
  				<tr>
    				<td><%= link_to teacher.short, teacher %></td>
  				</tr>
				<% end %>
				</table>
			<%= raw('</td>') if i % 2 == 1 %> 
		<% end %>
	</tr>
<table>