<h1>Listing teachers</h1>

<table>
  <tr>
    <th>Short</th>
    <th>Name</th>
    <th></th>
  </tr>

<% @teachers.each do |teacher| %>
  <tr>
    <td><%= link_to teacher.short, teacher %></td>
    <td><%= teacher.name %></td>
    <td><%= link_to 'Edit', edit_teacher_path(teacher) %></td>
  </tr>
<% end %>
</table>
