<table>
	<tr>
		<% ['L','R','*'].each_with_index do |roomcat,i| %>
			<td style="vertical-align:top;width:60px;"> 
				<span style="line-height:10px;"><b><%= roomcat %></b></span>
				<table>
				<% @rooms.select{|r| roomcat == '*' ? !(r.short[0] == 'L') && !(r.short[0] == 'R') : r.short[0] == roomcat}.each do |room| %>
  				<tr>
    				<td><%= link_to room.short, room %></td>
  				</tr>
				<% end %>
				</table>
			</td>
		<% end %>
	</tr>
<table>