<h1>Listing klasses</h1>

<table>
  <tr>
    <th>Short</th>
    <th></th>
  </tr>

<% @klasses.each do |klass| %>
  <tr>
    <td><%= link_to klass.short, klass %></td>
    <td><%= link_to 'Edit', edit_klass_path(klass) %></td>
  </tr>
<% end %>
</table>
